.head {
    font-style: italic;
    text-align: center;
    width: max-content;
    margin: 0 auto;
}

    .headback {
        display: block;
        padding: 15px 15px 400px 15px;
        background: url(https://images-assets.nasa.gov/image/hubble-observes-one-of-a-kind-star-nicknamed-nasty_17754652960_o/hubble-observes-one-of-a-kind-star-nicknamed-nasty_17754652960_o~large.jpg) no-repeat center;
    }

.table {
    width: max-content;
    margin: 500px auto 50px;
    align-content: center;
    text-align: center;
    font-size: 50px;
}
    td {
        font-size: 35px;
        text-align:center;
    }

.informationLeft {
    display: block;
    width:auto;
    height:auto;
    margin: 75px 150px 75px 150px;
    background-color: rgb(56, 56, 56);
}
    div > p {
        display: inline-block;
        width: 500px;
        border: solid 2px white;
        margin: 50px 50px 50px 50px;
    }
            #earthImage {
                width: 500px;
                height: 400px;
                margin-right: 50px
            }

.informationRight {
    display: block;
    width: auto;
    height: auto;
    margin: 75px 150px 75px 150px;
    background-color: rgb(56, 56, 56);
}
    img + p {
        display:inline-block;
        width: 550px;
        border: solid 2px white;
        margin: 30px 30px 0px 30px;
    }
        #Spaceship {
            display: inline-block;
            width: 500px;
            height: 600px;
            margin: 50px 0px 0px 50px;
        }

#lastImage {
    display: block;
    block-size: 800px;
    position:center;
    margin: 150px 150px 25px 150px;
    background-color: rgb(56, 56, 56);
}

